@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Open+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Fasthand&family=Open+Sans:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #CBE4DE;
}

.header{
    background-color: #0E8388;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 20px 20px;
    border-radius: 30%;
    margin: 5px;
}

.header .nav-links li:hover{
    background-color: #2E4F4F;
}




.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.imagen-libros{
    background-image: url('/IMAGENES/libros.jpg');
    height: 250px;
    background-position: center; 
    background-size: cover;
    /* margin: 10px 0px; */
}

.imagen-libros .nombre{
    height:135px;
    width: 100%;
    padding: 20px;
    /* background-color: aqua */
    
}

.imagen-libros .nombre a{
    font-family: 'Fasthand', cursive;
    font-size: 60px;
    color: white;
}

.neon {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0E8388, 0 0 35px #0E8388, 0 0 40px #0E8388, 0 0 50px #0E8388, 0 0 75px #0E8388;
  }
































input {
	font:inherit;
}
section {
	height: 100px;
	display: flex;
	align-items: center;
    /* background-color: #2E4F4F; */
}
form {
	margin: auto;
}
form > div {
	display: flex;
	background:#fff;
	padding: 9px 22px 9px 26px;
	border-radius: 30px;
	border:2px solid #cad3dc;
	box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
		rgba(0, 0, 0, 0.1) 10px 10px 10px,
		rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
		rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
}
form input {
	border:none;
	background: transparent;
	font-weight: bold;
	padding-left: 24px;
	background-image: url(/IMAGENES/busqueda.png);
	background-size: 16px;
	background-repeat: no-repeat;
	width: 0px;
	transition: all 1s;
}
form input:focus {
	outline: none;
	width: 300px;
}










